<h1><%= @restaurant.name %></h1>
<ul class="list-group">
<li class="list-group-item">Address: <%= @restaurant.address %></li>
<li class="list-group-item">Phone number: <%= @restaurant.phone_number %></li>
<li class="list-group-item">Category: <%= @restaurant.category %></li>
</ul>
<br>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
<div>
<%= link_to "Return", restaurants_path, class: "btn btn-primary"%>
</div>
<div>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary", style: "margin-top: 5px"%>
</div>
